<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="logophilia-1385" version="2.5">
  <display-name>LogophiliaGoogle2</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GcsExample</servlet-name>
    <servlet-class>
      userBeans.GcsExampleServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GcsExample</servlet-name>
    <url-pattern>/gcs/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Login</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>userServlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>RegisterServletDB</description>
    <display-name>RegisterServletDB</display-name>
    <servlet-name>RegisterServletDB</servlet-name>
    <servlet-class>userServlets.RegisterServletDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServletDB</servlet-name>
    <url-pattern>/RegisterServletDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>LogOutServlet</description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>userServlets.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>SearchServlet</description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>logophilia.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>userServlets.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GcsExampleServlet</display-name>
    <servlet-name>GcsExampleServlet</servlet-name>
    <servlet-class>userBeans.GcsExampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GcsExampleServlet</servlet-name>
    <url-pattern>/GcsExampleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSaveProfileDescription</display-name>
    <servlet-name>UserSaveProfileDescription</servlet-name>
    <servlet-class>userServlets.UserSaveProfileDescription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSaveProfileDescription</servlet-name>
    <url-pattern>/UserSaveProfileDescription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadFileCover</display-name>
    <servlet-name>UploadFileCover</servlet-name>
    <servlet-class>userServlets.UploadFileCover</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFileCover</servlet-name>
    <url-pattern>/UploadFileCover</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadFileProfile</display-name>
    <servlet-name>UploadFileProfile</servlet-name>
    <servlet-class>userServlets.UploadFileProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFileProfile</servlet-name>
    <url-pattern>/UploadFileProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaderBoardServlet</display-name>
    <servlet-name>LeaderBoardServlet</servlet-name>
    <servlet-class>logophilia.LeaderBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaderBoardServlet</servlet-name>
    <url-pattern>/LeaderBoardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateWordListServlet</display-name>
    <servlet-name>CreateWordListServlet</servlet-name>
    <servlet-class>userServlets.CreateWordListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateWordListServlet</servlet-name>
    <url-pattern>/CreateWordListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserWordPostServlet</display-name>
    <servlet-name>UserWordPostServlet</servlet-name>
    <servlet-class>userServlets.UserWordPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserWordPostServlet</servlet-name>
    <url-pattern>/UserWordPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveWordSearch</display-name>
    <servlet-name>SaveWordSearch</servlet-name>
    <servlet-class>userServlets.SaveWordSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveWordSearch</servlet-name>
    <url-pattern>/SaveWordSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProfileServlet</display-name>
    <servlet-name>GetProfileServlet</servlet-name>
    <servlet-class>database.GetProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProfileServlet</servlet-name>
    <url-pattern>/GetProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>database.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpenWordListServlet</display-name>
    <servlet-name>OpenWordListServlet</servlet-name>
    <servlet-class>userServlets.OpenWordListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenWordListServlet</servlet-name>
    <url-pattern>/OpenWordListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteWordPostServlet</display-name>
    <servlet-name>DeleteWordPostServlet</servlet-name>
    <servlet-class>userServlets.DeleteWordPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteWordPostServlet</servlet-name>
    <url-pattern>/DeleteWordPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetIndexServlet</display-name>
    <servlet-name>GetIndexServlet</servlet-name>
    <servlet-class>database.GetIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetIndexServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserQuotePostServlet</display-name>
    <servlet-name>UserQuotePostServlet</servlet-name>
    <servlet-class>userServlets.UserQuotePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserQuotePostServlet</servlet-name>
    <url-pattern>/UserQuotePostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateQuoteListServlet</display-name>
    <servlet-name>CreateQuoteListServlet</servlet-name>
    <servlet-class>userServlets.CreateQuoteListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateQuoteListServlet</servlet-name>
    <url-pattern>/CreateQuoteListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserPostMenu</display-name>
    <servlet-name>UserPostMenu</servlet-name>
    <servlet-class>userServlets.UserPostMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPostMenu</servlet-name>
    <url-pattern>/UserPostMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateShardServlet</display-name>
    <servlet-name>CreateShardServlet</servlet-name>
    <servlet-class>userServlets.CreateShardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateShardServlet</servlet-name>
    <url-pattern>/CreateShardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DailyWordServlet</display-name>
    <servlet-name>DailyWordServlet</servlet-name>
    <servlet-class>logophilia.DailyWordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DailyWordServlet</servlet-name>
    <url-pattern>/DailyWordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetWordInfo</display-name>
    <servlet-name>GetWordInfo</servlet-name>
    <servlet-class>wordnet.GetWordInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetWordInfo</servlet-name>
    <url-pattern>/GetWordInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopulateDatabaseServlet</display-name>
    <servlet-name>PopulateDatabaseServlet</servlet-name>
    <servlet-class>etymologyOnline.PopulateDatabaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopulateDatabaseServlet</servlet-name>
    <url-pattern>/populate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SettingsNewTabOnSearch</display-name>
    <servlet-name>SettingsNewTabOnSearch</servlet-name>
    <servlet-class>userServlets.SettingsNewTabOnSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SettingsNewTabOnSearch</servlet-name>
    <url-pattern>/SettingsNewTabOnSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SettingsHideProfileImg</display-name>
    <servlet-name>SettingsHideProfileImg</servlet-name>
    <servlet-class>userServlets.SettingsHideProfileImg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SettingsHideProfileImg</servlet-name>
    <url-pattern>/SettingsHideProfileImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SettingsHideSearchHistory</display-name>
    <servlet-name>SettingsHideSearchHistory</servlet-name>
    <servlet-class>userServlets.SettingsHideSearchHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SettingsHideSearchHistory</servlet-name>
    <url-pattern>/SettingsHideSearchHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>userServlets.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeEmail</display-name>
    <servlet-name>ChangeEmail</servlet-name>
    <servlet-class>userServlets.ChangeEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeEmail</servlet-name>
    <url-pattern>/ChangeEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddComment</display-name>
    <servlet-name>AddComment</servlet-name>
    <servlet-class>userServlets.AddComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/AddComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearAllNotifications</display-name>
    <servlet-name>ClearAllNotifications</servlet-name>
    <servlet-class>userServlets.ClearAllNotifications</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearAllNotifications</servlet-name>
    <url-pattern>/ClearAllNotifications</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDailyWordCRON</display-name>
    <servlet-name>GetDailyWordCRON</servlet-name>
    <servlet-class>database.GetDailyWordCRON</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDailyWordCRON</servlet-name>
    <url-pattern>/GetDailyWordCRON</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLikeIndex</display-name>
    <servlet-name>AddLikeIndex</servlet-name>
    <servlet-class>userServlets.AddLikeIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLikeIndex</servlet-name>
    <url-pattern>/AddLikeIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCommentIndex</display-name>
    <servlet-name>AddCommentIndex</servlet-name>
    <servlet-class>userServlets.AddCommentIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommentIndex</servlet-name>
    <url-pattern>/AddCommentIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLike</display-name>
    <servlet-name>AddLike</servlet-name>
    <servlet-class>userServlets.AddLike</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLike</servlet-name>
    <url-pattern>/AddLike</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveSaved</display-name>
    <servlet-name>RemoveSaved</servlet-name>
    <servlet-class>userServlets.RemoveSaved</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveSaved</servlet-name>
    <url-pattern>/RemoveSaved</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveWord</display-name>
    <servlet-name>SaveWord</servlet-name>
    <servlet-class>userServlets.SaveWord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveWord</servlet-name>
    <url-pattern>/SaveWord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLikeList</display-name>
    <servlet-name>AddLikeList</servlet-name>
    <servlet-class>userServlets.AddLikeList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLikeList</servlet-name>
    <url-pattern>/AddLikeList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCommentLists</display-name>
    <servlet-name>AddCommentLists</servlet-name>
    <servlet-class>userServlets.AddCommentLists</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommentLists</servlet-name>
    <url-pattern>/AddCommentLists</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveWordList</display-name>
    <servlet-name>SaveWordList</servlet-name>
    <servlet-class>userServlets.SaveWordList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveWordList</servlet-name>
    <url-pattern>/SaveWordList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveWordFromList</display-name>
    <servlet-name>SaveWordFromList</servlet-name>
    <servlet-class>userServlets.SaveWordFromList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveWordFromList</servlet-name>
    <url-pattern>/SaveWordFromList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveSavedFromList</display-name>
    <servlet-name>RemoveSavedFromList</servlet-name>
    <servlet-class>userServlets.RemoveSavedFromList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveSavedFromList</servlet-name>
    <url-pattern>/RemoveSavedFromList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddImageList</display-name>
    <servlet-name>AddImageList</servlet-name>
    <servlet-class>userServlets.AddImageList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddImageList</servlet-name>
    <url-pattern>/AddImageList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveWordFromList</display-name>
    <servlet-name>RemoveWordFromList</servlet-name>
    <servlet-class>userServlets.RemoveWordFromList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveWordFromList</servlet-name>
    <url-pattern>/RemoveWordFromList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToList</display-name>
    <servlet-name>AddToList</servlet-name>
    <servlet-class>userServlets.AddToList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToList</servlet-name>
    <url-pattern>/AddToList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDescription</display-name>
    <servlet-name>EditDescription</servlet-name>
    <servlet-class>userServlets.EditDescription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDescription</servlet-name>
    <url-pattern>/EditDescription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddWordsList</display-name>
    <servlet-name>AddWordsList</servlet-name>
    <servlet-class>userServlets.AddWordsList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddWordsList</servlet-name>
    <url-pattern>/AddWordsList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpenQuoteListServlet</display-name>
    <servlet-name>OpenQuoteListServlet</servlet-name>
    <servlet-class>userServlets.OpenQuoteListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenQuoteListServlet</servlet-name>
    <url-pattern>/OpenQuoteListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateQuoteList</display-name>
    <servlet-name>CreateQuoteList</servlet-name>
    <servlet-class>userServlets.CreateQuoteList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateQuoteList</servlet-name>
    <url-pattern>/CreateQuoteList</url-pattern>
  </servlet-mapping>
</web-app>